@{
    ViewBag.Title = "Home Page";
}

@section DrugHead
{
    <link href="/Content/dashboard/iCheck/skins/flat/green.css" rel="stylesheet">
    <link href="/Content/dashboard/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Content/dashboard/custom.css" rel="stylesheet">
}
@section DrugScr
{
        <script src="/Content/dashboard/iCheck/icheck.min.js"></script>
        <script src="/Scripts/dashboard/custom.min.js"></script>
    <script src="/Scripts/j1.js"></script>
}

<h1>Drug Order</h1>

<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2 style="text-align:center">診療日オーダ</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <!-- start accordion -->
            <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel">
                    <a class="panel-heading collapsed" role="tab" id="heading1" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
                        <h4 class="panel-title">処方</h4>
                    </a>
                    <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1" aria-expanded="false">
                        <div class="panel-body">
                            <table style="width: 100%">
                                <tbody>
                                    <tr>
                                        <td style="width:5%"></td>
                                        <td style="width:10%"><input type="checkbox" /></td>
                                        <td style="width:85%">
                                            <p>(1)</p>
                                            <p>内服　院外処方　主保険</p>
                                            <p>ドリベリドン錠10mg　3錠　(30mg) (1回：10mg)</p>
                                            <p>食後　朝昼夕　3日分</p>
                                            <p>2015年11月18日～2015年11月21日</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:5%"></td>
                                        <td style="width:10%"><input type="checkbox" /></td>
                                        <td style="width:85%">
                                            <p>(2)</p>
                                            <p>内服　院外処方　主保険</p>
                                            <p>ガスターD錠20mg　2錠　(40mg) (1回：20mg)</p>
                                            <p>食後　朝夕　7日分</p>
                                            <p>2015年11月18日～2015年11月25日</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:5%"></td>
                                        <td style="width:10%"><input type="checkbox" /></td>
                                        <td style="width:85%">
                                            <p>(3)</p>
                                            <p>頓服　院外処方　主保険</p>
                                            <p>ロキソニン錠60mg　3錠　(180mg) (1回：30mg)</p>
                                            <p>疼痛</p>
                                            <p>2015年11月18日～2015年11月25日</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <a class="panel-heading collapsed" role="tab" id="heading2" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                        <h4 class="panel-title">注射</h4>
                    </a>
                    <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2" aria-expanded="false">
                        <div class="panel-body">
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <a class="panel-heading collapsed" role="tab" id="heading3" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                        <h4 class="panel-title">検体検査</h4>
                    </a>
                    <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3" aria-expanded="false">
                        <div class="panel-body">
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <a class="panel-heading collapsed" role="tab" id="heading4" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                        <h4 class="panel-title">診療記録</h4>
                    </a>
                    <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4" aria-expanded="false">
                        <div class="panel-body">
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of accordion -->
        </div>
    </div>
</div>